@import "tailwindcss";
@import "tw-animate-css";

body {
background: rgb(240, 240, 240);
}

#navmenu {
    background: rgb(27, 27, 27);
    /* background: linear-gradient(90deg, rgb(255, 252, 207) 0%, rgb(255, 247, 133) 50%, rgba(255, 252, 207, 1) 100%); */
    width: 99vw;
    z-index: 100;
    position: sticky;
    border: 1px #1b1b1b;
    border-radius: 8px;
    height: fit-content;
}

@layer base {

    * {
        box-sizing: border-box;
    }

    #title {
        @apply m-1 p-2 text-4xl font-bold text-blue-600;
    }

    button,
    img {
        @apply cursor-pointer;
    }

}